<div class="container mt-4">
    <h4>Listado de Clientes</h4>
    <form action="">
        <div class="form-group">
          
            <input type="text"  class="form-control" placeholder="Busque un cliente" id="buscar">
        </div>
    </form>

    <div class="row">
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card" >
                <img [src]="cliente.data.imgUrl" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">{{cliente.data.nombre}} {{cliente.data.Apellido}}</h5>
                  <a href="#" class="card-link">Editar</a>
                  <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
              </div>
        </div>
        
    </div>
</div>